body {
  background: url('https://www.lifewire.com/thmb/i3k_fzC9f1yNDPEQWADHKFo8APk=/650x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/ws_Ocean_Bulb_1920x1080-5919ce043df78cf5fa3e1edd.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  background-color: #89aeb2;
  border-style: ridge;
  border-color: #e7cfc8;
  text-align: center;
  padding: 20px;
  color: #f1e0b0;
}

.NavigationBar {
  overflow: hidden;
  background-color: #22446e;
  border-style: ridge;
  border-color: #70a0d1;
}

.navtext {
 padding: 8px;
 float: left;
 color: #e7c795;
 font-size: 17px;
 display: inline;
}

.navtext:hover {
   background-color: #e5e5e5;
}

.navtext:link {
   text-decoration: none;
}

.text {
   text-align: right;
   font-size: large;
   float: right;
   color: white;
   text-shadow:
   -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
   1px 1px 0 #000;
}

.text2 {
   font-size: large;
   margin: 25px 50px 75px;
   color: white;
   text-shadow:
   -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
   1px 1px 0 #000;
}

.source {
margin: 25px 50px 75px;
}